.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0;
  padding: 0;
}

.primary-button {
  margin-top: 3rem;
  margin-right: 1rem;
  padding: .9rem;
  width: 14rem;
  background: rgba(92, 13, 85,0.1);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize;
  border-radius:7rem;
}

.primary-button:hover{
  color:#fff;
  background-color: #000;
  transition: 0.5s;
}

.main-titles,
.main-para {
  color: #f1f1f1;
  font-family: YD-yoonche, sans-serif;
}
.main-titles {
  margin-top: 7rem;
  font-size: 3.5rem;
  text-transform: uppercase
}

@font-face {
  font-family: 'YD-yoonche';
  font-weight: normal;
  src: url('../src/fonts/YD-yoonche.woff') format('woff');
}

.logo {
  margin: 40px;
  width: 260px;
  height:47px;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
font-weight: bold;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: .3rem;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 15px;
}

#sub_btn:hover {
  background: #444;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

/***    Register Page     ***/
.main-subtitle{
  font-family: YD-yoonche;
  font-size:22px;
  color: lightgoldenrodyellow;
}

#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}

.main-title {
  padding-top: 1rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: YD-yoonche, sans-serif;
}

#form {
  background-color: rgba(255,255,255,0.3);
  width: 49vh;
  border-radius: 30px;
  border: 2px solid white;
}

#form1 {
  margin-bottom: -6px;
  margin-top: 0;
  padding-top: 16px;
  padding-right: 36px;
  background-color: rgba(255,255,255,0.008);
  border: none;
}

.input-container {
  align-items: center;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

#email {
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.01); /* Adjust the alpha (last) value for transparency */
  outline: none;
  border: none;
  border-bottom: 2px solid #fff; /* Underline */
  color: #fff;
  font-family: YD-yoonche;
}

#name {
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.01); /* Adjust the alpha (last) value for transparency */
  outline: none;
  border: none;
  border-bottom: 2px solid #fff; /* Underline */
  color: #fff;
  font-family: YD-yoonche;
}

#password {
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.01); /* Adjust the alpha (last) value for transparency */
  outline: none;
  border: none;
  border-bottom: 2px solid #fff; /* Underline */
  color: #fff;
  font-family: YD-yoonche;
}

input:focus {
  background: #fff;
  border: none;
}

input::placeholder {
  color: rgba(255,255,255,0.3);
  font-size: 14px;
  font-family: YD-yoonche;
  font-style: italic;
}

label strong {
  font-family: YD-yoonche;
  font-size: 20px;
  color: #fff;
}

#login-btn strong {
  font-family: YD-yoonche;
  font-size: 20px;
  color: #fff;
}

#login-btn {
  color: purple;
}

#login-btn:hover {
  color: rgb(177, 2, 177);
}

#p {
  font-family: YD-yoonche;
  color: rgba(255,255,255,0.8);
  font-size: 15px;
}

.user-image {
  height: 100px;
  margin-left:130px;
  margin-top: 16px;
}

#h2text {
  font-size: 28px;
  font-family: YD-yoonche;
  color: #fff;
}

#reg-form {
  background-color: rgba(255,255,255,0.3);
  width: 49vh;
  border-radius: 30px;
  border: 2px solid white;
}

#reg-form-1 {
  margin-bottom: -6px;
  margin-top: 0;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 40px;
  background-color: rgba(255,255,255,0.008);
  border: none;
}